version: '3.8'

services:
  app-zeeven:
    container_name: app-zeeven
    # The official v2 Traefik docker image
    image: simachille/app-zeeven:latest
    restart: always
    ports:
      # The HTTP port
      - "3000:3000"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.app-zeeven.rule=Headers(`X-Host`, `https://app.zeeven.chillo.fr`)"
    networks:
      - applications-network
networks:
  applications-network:
    external: true
    name: applications-network