@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.rdp-caption_label {
  text-transform: capitalize !important;
}
.rdp-months {
  display: block !important;
}
.rdp-table {
  width: 100% !important;
  max-width: 100% !important;
}
.rdp-weeknumber, .rdp-day {
  display: inline !important;
}

@layer base {
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select{
    @apply w-full inline-block rounded-lg shadow-sm border border-gray-300 text-black focus:border-blue-500 focus:ring-blue-500
  }

  [type='checkbox'],
  [type='radio'] {
    @apply rounded border border-gray-300 focus:border-blue-500 focus:ring-blue-500
  }
}